.DS_Store
**/.DS_Store
.derivedData*/
.archives/
2txt.xcodeproj/project.xcworkspace/xcuserdata/
2txt.xcodeproj/xcuserdata/
*.xcuserstate
.vscode/
dist/
*.dmg
2txt.xcodeproj/xcuserdata/
2txt.xcodeproj/project.xcworkspace/xcuserdata/
*.xcuserstate
